<html>
<body style="margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;">
<div style="width: 100%; background: #efefef; border-radius: 10px; padding: 10px;">
  <div style="margin: 0 auto; width: 90%; text-align: center;">
    <div style="margin: 30px auto; background: white; width: 40%; border-radius: 10px; padding: 50px; text-align: center;">
      <img width="100" height="100" alt="mucha logo" src="{{media_base_url}}/logo.png"/>
        <p style="margin-bottom: 30px;">

Hey there,
<br/>
Someone requested a new password for your mucha account.
<br/>
If you didn’t make this request, then you can ignore this email 🙂

      </p>
      <a style="display: block; margin: 0 auto; border: none; background-color: rgb(0,0,0); color: white; width: 200px; line-height: 24px; padding: 10px; font-size: 24px; border-radius: 5px; cursor: pointer; text-decoration: none;"
        href="{{base_url}}/reset-password/{{token}}"
        target="_blank"
      >
        Reset Password
      </a>
    </div>
  </div>
</div>
</body>
</html>